/* .App {
    text-align: center;
} */

.grid {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
    align-items: center;
}
.grid > * {
    margin: 0.5vh 0.5vw;
    padding: 0.5vh 0.5vw;
}

.ContactItem img {
    width: 80%;
    border-radius: 3vmin;
    justify-self: center;
}

.headerStyle {
    padding: 1vh 1vw;
    border: 1px solid black;
    background: linear-gradient(#333, silver);
    color: #fff;
}
.buttonStyle {
    cursor: pointer;
}
.input {
    background: #fff;
    color: #333;
}

.ContactsHeader {
    /* set a background!!! */
    background: silver;
    position: sticky;
    top: 0;
}

.ContactItem {
    margin: 0 0.5vw;
}

.ContactItem:nth-child(odd) {
    background: silver;
    background: linear-gradient(#888, #aaa, #888);
}
.ContactItem:nth-child(even) {
    background: lightgray;
    background: linear-gradient(#eee, #aaa, #eee);
}
